html {
    background-color: #fff;
    color: #777;
}

body {
    margin: 0 auto;
    max-width: 50rem;
}
@media (max-width: 50rem) {
    body {
	margin: 0 1rem;
	max-width: 100%;
    }
}

video {
    margin: 0.5rem auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: #c00;
}
a:hover {
    text-decoration: underline;
}
