{% extends "template.html" %}

{% set active_page = "index" %}

{% block title %}
Home
{% endblock %}

{% block main_header %}
<h1>Haruhisa Iijima</h1>
<p>
Welcome to the website of Haruhisa Iijima.<br>
I am a researcher at Nagoya University, Japan.
</p>
{% endblock %}

{% block main_content %}
<!-- About Me -->
<h2>About Me</h2>
<ul>
  <li>
    <b>Name:</b>
    Haruhisa IIJIMA (Given, FAMILY)
  </li>
  <li>
    <b>Status:</b>
    Designated Assistant Professor
  </li>
  <li>
    <b>Affiliation:</b>
    Center for Integrated Data Science,
    Institute for Space-Earth Environmental Research,
    Nagoya University
  </li>
  <li>
    <b>Location:</b>
    Furocho, Chikusa-ku, Nagoya, Aichi, 464-0814, Japan
  </li>
  <li>
    <b>Research interests:</b>
    Solar Physics,
    Stellar Physics,
    Plasma Physics,
    Radiative Transfer,
    Magnetohydrodynamics (MHD),
    Computational Science
  </li>
  <li>
    <style>.atmark:after { content: "@"; }</style>
    <b>Email:</b>
    h.iijima<span class="atmark"></span>isee.nagoya-u.ac.jp
  </li>
  <li>
    <b>Tel:</b>
    +81-52-788-6282
  </li>
</ul>

<!-- Career -->
<h2>Career</h2>
<ul>
  <li>
    <b>Apr. 2019-Present:</b>
    Designated Assistant Professor,
    Center for Integrated Data Science,
    Institute for Space-Earth Environmental Research,
    Nagoya University, Japan
  </li>
  <li>
    <b>Apr. 2016-Mar. 2019:</b>
    Researcher,
    Division for Integrated Studies,
    Institute for Space-Earth Environmental Research,
    Nagoya University, Japan
  </li>
</ul>

<!-- Education -->
<h2>Education</h2>
<ul>
  <li>
    <b>Apr. 2013-Mar. 2016:</b>
    Ph. D. (March 2016),
    Department of Earth and Planetary Science,
    Graduate School of Science,
    The University of Tokyo,
    "Numerical Studies of Chromospheric Jets",
    <a href="http://adsabs.harvard.edu/abs/2016PhDT.........5I">ADS</a>
  </li>
  <li>
    <b>Apr. 2011-Mar. 2013:</b>
    Master of Science (March 2013),
    Department of Earth and Planetary Science,
    Graduate School of Science,
    The University of Tokyo,
    "Study on the Scale Selection of Solar Surface Convection
    and Magnetic Field by Radiative Magnetohydrodynamic Simulation"
  </li>
  <li>
    <b>Apr. 2007-Mar. 2011:</b>
    Bachelor of Science (March 2011),
    Department of Earth and Planetary Science,
    The University of Tokyo
  </li>
</ul>

<!-- Lectures -->
<h2>Lectures</h2>
<ul>
  <li>
    <b>Apr. 2019-Present:</b>
    Geoscience A/B,
    School of International Liberal Studies,
    Chukyo University, Japan
  </li>
</ul>

<!-- Honors & Awards -->
<h2>Honors & Awards</h2>
<ol>
  <li>
    Student Outstanding Presentation Award,
    Japan Geoscience Union Meeting 2015 
  </li>
</ol>
{% endblock %}
