{% extends "template.html" %}

{% block title %}
Home
{% endblock %}

{% block header %}
<h1>Haruhisa Iijima</h1>
<h2>Researcher, Nagoya University</h2>
{% endblock %}

{% block content %}
<!-- About Me -->
<h2 class="content-subhead">About Me</h2>
<ul>
  <li>
    <b>Name:</b>
    Haruhisa IIJIMA (Given, FAMILY)
  </li>
  <li>
    <b>Status:</b>
    Post-Doctoral Researcher
  </li>
  <li>
    <b>Affiliation:</b>
    Dvision for Integrated Studies,
    Institute for Space-Earth Environmental Research,
    Nagoya University
  </li>
  <li>
    <b>Location:</b>
    Furocho, Chikusa-ku, Nagoya, Aichi, 464-0814 Japan
  </li>
  <li>
    <b>Research interests:</b>
    Solar Physics,
    Magnetohydrodynamics (MHD),
    Radiative Transfer,
    Computational Science,
    Plasma Physics,
    Stellar Physics
  </li>
  <li>
    <b>Email:</b>
    h_iijima_[at]_isee_nagoya-u_ac_jp
    (substitute [at] to @ and _ to .)
  </li>
  <li>
    <b>Tel:</b>
    +81-52-788-6282
  </li>
</ul>

<!-- Career -->
<h2 class="content-subhead">Career</h2>
<ul>
  <li>
    <b>Apr. 2016–Present:</b>
    Post-doctoral researcher,
    Division for Integrated Studies,
    Institute for Space-Earth Environmental Research,
    Nagoya University, Japan
  </li>
</ul>

<!-- Education -->
<h2 class="content-subhead">Education</h2>
<ul>
  <li>
    <b>Apr. 2013–Mar. 2016:</b>
    Ph. D. (March 2016),
    Department of Earth and Planetary Science,
    Graduate School of Science,
    The University of Tokyo,
    "Numerical Studies of Chromospheric Jets”
    <a href="http://adsabs.harvard.edu/abs/2016PhDT.........5I">
      ADS
    </a>
  </li>
  <li>
    <b>Apr. 2011–Mar. 2013:</b>
    Master of Science (March 2013),
    Department of Earth and Planetary Science,
    Graduate School of Science,
    The University of Tokyo,
    "Study on the Scale Selection of Solar Surface Convection
    and Magnetic Field by Radiative Magnetohydrodynamic Simulation"
  </li>
  <li>
    <b>Apr. 2007–Mar. 2011:</b>
    Bachelor of Science (March 2011),
    Department of Earth and Planetary Science,
    The University of Tokyo
  </li>
</ul>

<!-- Honors & Awards -->
<h2 class="content-subhead">Honors & Awards</h2>
<ol>
  <li>
    <b>2015:</b>
    Student Outstanding Presentation Award,
    Japan Geoscience Union Meeting 2015 
  </li>
</ol>
{% endblock %}
