{% extends "template.html" %} {# 親テンプレートを指定 #}

{% block title %}
Presentations
{% endblock %}

{% block header %}
<h1>Presentations</h1>
<h2>Haruhisa Iijima, Nagoya University</h2>
{% endblock %}

{% block content %}
<!-- Presentations (International) -->
<h2 class="content-subhead">Presentations (International)</h2>
<ol>
  <li>
    H. Iijima and T. Yokoyama,
    "Radiation MHD Simulations on Solar Chromospheric Jets",
    ASTRONUM-2018, the 13th International Conference
    on Numerical Modeling of Space Plasma Flows,
    2018, Panama City Beach, US <b>(Invited Talk)</b>
  </li>
  <li>
    H. Iijima, H. Hotta, S. Imada, K. Kusano, and D. Shiota,
    "Predicting the solar-cycle activity
    based on the photospheric magnetic field",
    Japan Geoscience Union Meeting,
    2018, Chiba, Japan <b>(Invited Talk)</b>
  </li>
  <li>
    H. Iijima,
    "Insight on chromosphere dynamics from numerical simulations
    - Expected signatures of spicule formation and evolution",
    DKIST Critical Science Plan Workshop,
    2017, Nagoya, Japan
  </li>
  <li>
    H. Iijima, H. Hotta, S. Imada, K. Kusano, and D. Shiota,
    "Plateau of polar field and cycle prediction",
    Solar Cycle 25 Prediction Workshop,
    2017, Nagoya, Japan
  </li>
  <li>
    H. Iijima,
    "Numerical Simulations on the Regional Dependence
    of Chromospheric Jets",
    Joint Hinode-11/IRIS-8 Science Meeting,
    2017, Seattle, US <b>(Invited Talk)</b>
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "3D simulation of chromospheric jets
    with twisted magnetic field lines",
    Solarnet IV Meeting,
    2017, Lanzarote, Spain <b>(Invited Talk)</b>
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "Three-dimensional Simulation of Chromospheric Jets
    with Twisted Magnetic Field Lines",
    Hinode-10 Science Meeting, 2016, Nagoya, Japan (Talk)
  </li>
  <li>
    H. Iijima, S. Imada, H. Hotta, D. Shiota, and K. Kusano,
    "New Surface Flux Transport Code Based on the Yin-Yang grid",
    Hinode-10 Science Meeting, 2016, Nagoya, Japan (Poster)
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "Three-dimensional simulation of chromospheric jets
    with twisted chromospheric magnetic field lines",
    IRIS-6: The Chromosphere, 2016, Stockholm, Sweden (Talk)
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "Effect of coronal conditions on solar chromospheric jets",
    Workshop on Physics and Diagnostics of Emerging Flux Regions,
    2015, Tokyo, Japan (Talk)
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "Effect of the coronal temperature on the formation
    of the solar chromospheric jet",
    Hinode-9 Science Meeting, 2015, Belfast, UK (Poster)
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "Two-dimensional simulation of chromospheric jet formation
    with convection and emerging magnetic flux",
    Flux Emergence Workshop, 2015, Colorado, US (Talk)
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "Two-dimensional simulation of the small scale structure
    in the solar chromosphere", Japan Geoscience Union Meeting,
    2015, Chiba, Japan (Talk)
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "Two-dimensional numerical study on
    the supergranular-scale magneto-convective structure
    near the photosphere in the solar quiet region",
    ASTRONUM, 2014, California, US (Poster)
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "Two-dimensional numerical simulations
    on the origin of network magnetic field
    in the solar quiet region",
    American Geoscience Union Fall Meeting,
    2013, California, US (Poster)
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "Kinetic and magnetic power spectra
    in the supergranular-scale convection
    studied by three-dimensional radiative
    magnetohydrodynamic simulations",
    2013, Hinode-7 Science Meeting, Kyoto, Japan (Poster)
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "On the Origin of the Supergranulation
    and the Magnetic Network in Solar Quiet Regions",
    Japan Geoscience Union Meeting, 2013, Chiba, Japan (Talk)
  </li>
  <li>
    H. Iijima and T. Yokoyama,
    "The role of magnetic field on the scale
    of solar surface convection",
    Hinode-6 Science Meeting, 2012, St. Andreews, UK (Poster)
  </li>
</ol>
{% endblock %}
