{% extends "template.html" %}

{% set active_page = "presentations" %}

{% block title %}
Presentations
{% endblock %}

{% block main_header %}
<h1>Presentations</h1>
{% endblock %}

{% block main_content %}
<!-- Presentations (international, invited) -->
<h2>International Invited Talks</h2>
<ol>
  {% for dict_item in presentations %}
  {% if 'en' in dict_item['Language'] %}
  {% if 'invited' in dict_item['Invitation'] %}
  {% if '0' != dict_item['Day'] %}
  <li>
    {{dict_item['Authors'] | highlight_me}},
    <i>"{{dict_item['Title']}}"</i>,
    {{dict_item['Meeting']}},
    {{dict_item['Year']+'.'+dict_item['Month']+'.'+dict_item['Day']}},
    {{dict_item['City']}},
    {{dict_item['Country']}}
  </li>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
</ol>

<!-- Presentations (international, contributed) -->
<h2>International Contributed Talks/Posters</h2>
<ol>
  {% for dict_item in presentations %}
  {% if 'en' in dict_item['Language'] %}
  {% if not 'invited' in dict_item['Invitation'] %}
  {% if '0' != dict_item['Day'] %}
  <li>
    {{dict_item['Authors'] | highlight_me}},
    <i>"{{dict_item['Title']}}"</i>,
    {{dict_item['Meeting']}},
    {{dict_item['Year']+'.'+dict_item['Month']+'.'+dict_item['Day']}},
    {{dict_item['City']}},
    {{dict_item['Country']}}
    {% if 'oral' in dict_item['Oral/Poster'] %}
    (Talk)
    {% else %}
    (Poster)
    {% endif %}
  </li>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
</ol>

<!-- Presentations (domestic, invited talks) -->
<h2>Domestic Invited Talks</h2>
<ol>
  {% for dict_item in presentations %}
  {% if 'jp' in dict_item['Language'] %}
  {% if 'invited' in dict_item['Invitation'] %}
  {% if '0' != dict_item['Day'] %}
  <li>
    {{dict_item['Authors'] | highlight_me}},
    「{{dict_item['Title']}}」,
    {{dict_item['Meeting']}},
    {{dict_item['Year']+'.'+dict_item['Month']+'.'+dict_item['Day']}},
    {{dict_item['Place']}}
  </li>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
</ol>

<!-- Presentations (domestic, contributed) -->
<h2>Domestic Contributed Talks/Posters</h2>
<ol>
  {% for dict_item in presentations %}
  {% if 'jp' in dict_item['Language'] %}
  {% if not 'invited' in dict_item['Invitation'] %}
  {% if '0' != dict_item['Day'] %}
  <li>
    {{dict_item['Authors'] | highlight_me}},
    「{{dict_item['Title']}}」,
    {{dict_item['Meeting']}},
    {{dict_item['Year']+'.'+dict_item['Month']+'.'+dict_item['Day']}},
    {{dict_item['Place']}}
    {% if 'oral' in dict_item['Oral/Poster'] %}
    (Talk)
    {% else %}
    (Poster)
    {% endif %}
  </li>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
</ol>

<!-- Presentations (Outreach) -->
{% endblock %}
