{% extends "template.html" %} {# 親テンプレートを指定 #}

{% block title %}
Publications
{% endblock %}

{% block header %}
<h1>Publications</h1>
<h2>Haruhisa Iijima, Nagoya University</h2>
{% endblock %}

{% block content %}
<!-- Publications (Refereed) -->
<h2 class="content-subhead">Publications (Refereed)</h2>
<ol>
  <li>
    H. Iijima and T. Yokoyama, 2017,
    "Three-dimensional Magnetohydrodynamic Simulation
    of the Formation of Solar Chromospheric Jets
    with Twisted Magnetic Field Lines",
    accepted for publication in The Astrophysical Journal,
    (<a href="https://arxiv.org/abs/1709.01522">
      arxiv:1709.01522
    </a>)
  </li>
  <li>
    H. Iijima and T. Yokoyama, 2015,
    "Effect of coronal temperature on the scale
    of solar chromospheric jets",
    The Astrophysical Journal Letters,
    812:L30,
    <a href="http://adsabs.harvard.edu/abs/2015ApJ...812L..30I">
      ADS
    </a>
    (<a href="https://arxiv.org/abs/1509.06677">
      arXiv:1509.06677
    </a>)
  </li>
</ol>
{% endblock %}
