{% extends "template.html" %}

{% set active_page = "publications" %}

{% block title %}
Publications
{% endblock %}

{% block main_header %}
<h1>Publications</h1>
{% endblock %}

{% block main_content %}
<!-- Refereed Publications (Corresponding Author) -->
<h2>Refereed Publications (Corresponding Author)</h2>
<ol>
  <li>
    H. Iijima, H. Hotta, S. Imada, K. Kusano, and D. Shiota, 2017,
    "Improvement of solar cycle prediction:
    Plateau of solar axial dipole moment",
    Astronomy & Astrophysics, Volume 607, L2,
    <a href="https://doi.org/10.1051/0004-6361/201731813">
      DOI
    </a>,
    <a href="http://adsabs.harvard.edu/abs/2017A%26A...607L...2I">
      ADS
    </a>,
    <a href="https://arxiv.org/abs/1710.06528">
      arXiv:1710.06528
    </a>
  </li>
  <li>
    H. Iijima and T. Yokoyama, 2017,
    "Three-dimensional Magnetohydrodynamic Simulation
    of the Formation of Solar Chromospheric Jets
    with Twisted Magnetic Field Lines",
    The Astrophysical Journal,
    Volume 848, Number 1, 38,
    <a href="https://doi.org/10.3847/1538-4357/aa8ad1">
      DOI
    </a>,
    <a href="http://adsabs.harvard.edu/abs/2017ApJ...848...38I">
      ADS
    </a>,
    <a href="https://arxiv.org/abs/1709.01522">
      arXiv:1709.01522
    </a>
  </li>
  <li>
    H. Iijima and T. Yokoyama, 2015,
    "Effect of coronal temperature on the scale
    of solar chromospheric jets",
    The Astrophysical Journal Letters,
    Volume 812, Number 2, L30,
    <a href="http://dx.doi.org/10.1088/2041-8205/812/2/L30">
      DOI
    </a>,
    <a href="http://adsabs.harvard.edu/abs/2015ApJ...812L..30I">
      ADS
    </a>,
    <a href="https://arxiv.org/abs/1509.06677">
      arXiv:1509.06677
    </a>
  </li>
</ol>

<!-- Refereed Publications (Co-Author) -->
<h2>Refereed Publications (Co-Author)</h2>
<ol>
  <li>
    H. Hayakawa, K. Iwahashi, M. Fujiyama, T. Kawai,
    S. Toriumi, H. Hotta, H. Iijima, S. Imada,
    H. Tamazawa, and K. Shibata, 2018,
    "Sunspot Drawings by Japanese Official Astronomers in 1749-1750",
    Accepted for publication in PASJ,
    <a href="">
      DOI
    </a>,
    <a href="http://adsabs.harvard.edu/abs/2018arXiv180408614H">
      ADS
    </a>,
    <a href="https://arxiv.org/abs/1804.08614">
      arXiv:1804.08614
    </a>
  </li>
</ol>
{% endblock %}
