{% extends "template.html" %}

{% set active_page = "publications" %}

{% block title %}
Publications
{% endblock %}

{% block main_header %}
<h1>Publications</h1>
{% endblock %}

{% block main_content %}
<!-- Refereed Publications (Corresponding Author) -->
<h2>Refereed Publications (Corresponding Author)</h2>
<ol>
  <li>
    <b>H. Iijima</b>, H. Hotta, and S. Imada, 2018,
    "Semiconservative reduced speed of sound technique
    for low Mach number flows with large density variations",
    accepted for publication in Astronomy & Astrophysics,
    <a>DOI</a>,
    <a>ADS</a>,
    <a>arXiv:0000.00000</a>
  </li>
  <li>
    <b>H. Iijima</b>, H. Hotta, S. Imada, K. Kusano, and D. Shiota, 2017,
    "Improvement of solar cycle prediction:
    Plateau of solar axial dipole moment",
    Astronomy & Astrophysics, Volume 607, L2,
    <a href="https://doi.org/10.1051/0004-6361/201731813">DOI</a>,
    <a href="http://adsabs.harvard.edu/abs/2017A%26A...607L...2I">ADS</a>,
    <a href="https://arxiv.org/abs/1710.06528">arXiv:1710.06528</a>
  </li>
  <li>
    <b>H. Iijima</b> and T. Yokoyama, 2017,
    "Three-dimensional Magnetohydrodynamic Simulation
    of the Formation of Solar Chromospheric Jets
    with Twisted Magnetic Field Lines",
    The Astrophysical Journal,
    Volume 848, Number 1, 38,
    <a href="https://doi.org/10.3847/1538-4357/aa8ad1">DOI</a>,
    <a href="http://adsabs.harvard.edu/abs/2017ApJ...848...38I">ADS</a>,
    <a href="https://arxiv.org/abs/1709.01522">arXiv:1709.01522</a>
  </li>
  <li>
    <b>H. Iijima</b> and T. Yokoyama, 2015,
    "Effect of coronal temperature on the scale
    of solar chromospheric jets",
    The Astrophysical Journal Letters,
    Volume 812, Number 2, L30,
    <a href="http://dx.doi.org/10.1088/2041-8205/812/2/L30">DOI</a>,
    <a href="http://adsabs.harvard.edu/abs/2015ApJ...812L..30I">ADS</a>,
    <a href="https://arxiv.org/abs/1509.06677">arXiv:1509.06677</a>
  </li>
</ol>

<!-- Refereed Publications (Co-Author) -->
<h2>Refereed Publications (Co-Author)</h2>
<ol>
  <li>
    H. Hotta, <b>H. Iijima</b>, K. Kusano, 2018,
    "Weak influence of near-surface layer
    to solar deep convection zone revealed by
    comprehensive simulation from base to surface",
    accepted for publication in Science Advances,
    <a>DOI</a>,
    <a>ADS</a>,
    <a>arXiv:0000.00000</a>
  </li>
  <li>
    T. Yokoyama, M. Shimojo, T. J. Okamoto, <b>H. Iijima</b>, 2018,
    "ALMA Observations of the Solar Chromosphere on the Polar Limb",
    The Astrophysical Journal,
    Volume 863, Number 1, 96,
    <a href="https://doi.org/10.3847/1538-4357/aad27e">DOI</a>,
    <a href="http://adsabs.harvard.edu/abs/2018ApJ...863...96Y">ADS</a>,
    <a href="http://arxiv.org/abs/1807.01411">arXiv:1807.01411</a>
  </li>
  <li>
    H. Hayakawa, K. Iwahashi, M. Fujiyama, T. Kawai,
    S. Toriumi, H. Hotta, <b>H. Iijima</b>, S. Imada,
    H. Tamazawa, and K. Shibata, 2018,
    "Sunspot Drawings by Japanese Official Astronomers in 1749-1750",
    Publications of the Astronomical Society of Japan,
    Volume 70, Issue 4, 63,
    <a href="https://doi.org/10.1093/pasj/psy066">DOI</a>,
    <a href="http://adsabs.harvard.edu/abs/2018PASJ...70...63H">ADS</a>,
    <a href="https://arxiv.org/abs/1804.08614">arXiv:1804.08614</a>
  </li>
</ol>
{% endblock %}
