<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
	  content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="H. Iijima's personal Web site">
    <meta name="author" content="Haruhisa Iijima">
    <link rel="icon" type="image/png" sizes="any" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAO0lEQVQ4T2NctWrVfwYKAOPgMSA0NBTskdWrV6N4CF0cnQ/3wjAyAFeMwsKGYBhQbMBIjgVy89PAZyYA2FGD4b4yNDEAAAAASUVORK5CYII=">
    <link rel="mask-icon" href="favicon.svg" color="#5bbad5">

    <!-- Title -->
    <title>
      H. Iijima | {% block title %}{% endblock %}
    </title>

    <!-- Custom styles -->
    <style>{% include 'css/page_style.min.css' %}</style>
  </head>

  <!-- Body -->
  <body>
    <!-- Variables of navigation bar -->
    {% set navigation_bar = [
    ("index.html", "index", "Home"),
    ("publications.html", "publications", "Publications"),
    ("presentations.html", "presentations", "Presentations"),
    ] -%}
    {% set active_page = active_page|default('index') -%}

    <!-- Header -->
    <header>
      <h3>H. Iijima</h3>
      <nav>
	{% for href, id, caption in navigation_bar %}
	<a {% if id == active_page %} class="active" {% endif %}
	   href="{{ href|e }}">{{ caption|e }}</a>
	{% endfor %}
      </nav>
    </header>

    <!-- Main -->
    <main role="main">

      <!-- Main: Title -->
      <div class="main_header">
	{% block main_header %}{% endblock %}
      </div>

      <!-- Main: Content -->
      <div class="main_content">
	{% block main_content %}{% endblock %}
      </div>

      <!-- Main: Back to top -->
      <p style="text-align: right"><a href="#top">Back to top</a></p>
    </main>

    <!-- Footer -->
    <footer>
      <nav>
	{% for href, id, caption in navigation_bar %}
	<a href="{{ href|e }}">{{ caption|e }}</a>
	{% endfor %}
      </nav>
      <p>&copy; 2017-2018 Haruhisa Iijima</p>
    </footer>
  </body>
</html>
