<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
	  content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="H. Iijima's personal Web site">
    <meta name="author" content="Haruhisa Iijima">

    <!-- Title -->
    <title>
      H. Iijima | {% block title %}{% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="css/page_style.css" rel="stylesheet">
  </head>

  <!-- Body -->
  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <!-- Variables of navigation bar -->
      {% set navigation_bar = [
      ("index.html", "index", "Home"),
      ("publications.html", "publications", "Publications"),
      ("presentations.html", "presentations", "Presentations"),
      ] -%}
      {% set active_page = active_page|default('index') -%}

      <!-- Header -->
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">H. Iijima</h3>
          <nav class="nav nav-masthead justify-content-center">
	    {% for href, id, caption in navigation_bar %}
	    <a {% if id == active_page %}
	       class="nav-link active"
	       {% else %}
               class="nav-link"
	       {% endif %}
	       href="{{ href|e }}">{{ caption|e }}</a>
	    {% endfor %}
          </nav>
        </div>
      </header>

      <!-- Main -->
      <main role="main" class="inner cover">

	<!-- Main: Header -->
	{% block header %}
	{% endblock %}

	<!-- Main: Content -->
	{% block content %}
	{% endblock %}

	<!-- Main: Back to top -->
	<p style="text-align: right"><a href="#">Back to top</a></p>
      </main>

      <!-- Footer -->
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <nav class="nav justify-content-center">
	    {% for href, id, caption in navigation_bar %}
	    <a class="nav-link" href="{{ href|e }}">
	      {{ caption|e }}
	    </a>
	    {% endfor %}
          </nav>
	  <p>&copy; 2017-2018 Haruhisa IIJIMA</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
  </body>
</html>
