<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
	  content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="H. Iijima's personal Web site">
    <meta name="author" content="Haruhisa Iijima">
    <!-- <link rel="shortcut icon" sizes="any" type="image/svg+xml" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath d='M1 0h3v2H1' fill='%234c4046'/%3E%3Cpath d='M2 0h1v1H2'/%3E%3Cpath d='M3 0h1v1H3' fill='%23a89393'/%3E%3Cpath d='M0 1h3v3H0' fill='%23827272'/%3E%3Cpath d='M2 3V2h1v1H1V0H0v1' fill='%23fef7ed'/%3E%3Cpath d='M0 1h1v2h1V2H0' fill='%23cca6a1'/%3E%3Cpath d='M1 4V3h1v1h1V2h1v2' fill='%232e262d'/%3E%3C/svg%3E"> -->
    <link rel="shortcut icon" sizes="any" type="image/svg+xml" href='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 100 100"><text x="0" y="100" font-family="-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol" font-weight="800" fill="#777" font-size="100">HI</text></svg>'>

    <!-- Title -->
    <title>
      H. Iijima | {% block title %}{% endblock %}
    </title>

    <!-- Custom styles -->
    <!-- <link href="css/page_style.min.css" rel="stylesheet"> -->
    <style type="text/css">{% include 'css/page_style.min.css' %}</style>
  </head>

  <!-- Body -->
  <body>
    <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="640" height="640"><defs><path d="M95 125.95L193.81 125.95L193.81 535.48L95 535.48L95 125.95Z" id="c1rY5oUknH"></path><path d="M434.24 125.95L533.05 125.95L533.05 535.48L434.24 535.48L434.24 125.95Z" id="a9lPeg9zly"></path><path d="M193.81 292.62L435.24 292.62L435.24 368.81L193.81 368.81L193.81 292.62Z" id="e2BzzPa4Ir"></path></defs><g><g><g><use xlink:href="#c1rY5oUknH" opacity="1" fill="#308d87" fill-opacity="1"></use></g><g><use xlink:href="#a9lPeg9zly" opacity="1" fill="#308d87" fill-opacity="1"></use></g><g><use xlink:href="#e2BzzPa4Ir" opacity="1" fill="#308d87" fill-opacity="1"></use></g></g></g></svg> -->
      <!-- <g font-family="sans-serif" fill="blue" font-size="20"> -->
	<!-- <text x="0" y="1" textLength="1">HI</text> -->
    <!-- <svg viewBox="0 0 1 1"> -->
    <!--   <g font-weight="800" fill="#777" font-size="1"> -->
    <!-- 	<text x="0" y="1">HI</text> -->
    <!--   </g> -->
    <!-- </svg> -->
    <!-- <svg viewBox="0 0 1 1"> -->
    <!--   <text x="0" y="1" font-weight="800" fill="#777" font-size="1">HI</text> -->
    <!-- </svg> -->
    <!-- <img src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 100 100"><text x="0" y="100" font-family="Helvetica Neue, -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif" font-weight="800" fill="#777" font-size="100">HI</text></svg>'> -->
    <!-- <img style="width: 50%;" src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 100 100"><text x="0" y="100" font-family="-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol" font-weight="800" fill="#777" font-size="100">HI</text></svg>'> -->
    <!-- <img src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" height="100px" width="100px"> -->
    <!-- 	 <g> -->
    <!-- 	   <path d="M28.1,36.6c4.6,1.9,12.2,1.6,20.9,1.1c8.9-0.4,19-0.9,28.9,0.9c6.3,1.2,11.9,3.1,16.8,6c-1.5-12.2-7.9-23.7-18.6-31.3   c-4.9-0.2-9.9,0.3-14.8,1.4C47.8,17.9,36.2,25.6,28.1,36.6z"/> -->
    <!-- 	 </g> -->
    <!-- </svg>' alt="" /> -->
    <!-- </div> -->
    
    <!-- Variables of navigation bar -->
    {% set navigation_bar = [
    ("index.html", "index", "Home"),
    ("publications.html", "publications", "Publications"),
    ("presentations.html", "presentations", "Presentations"),
    ] -%}
    {% set active_page = active_page|default('index') -%}

    <!-- Header -->
    <header>
      <h3>H. Iijima</h3>
      <nav>
	{% for href, id, caption in navigation_bar %}
	<a {% if id == active_page %} class="active" {% endif %}
	   href="{{ href|e }}">{{ caption|e }}</a>
	{% endfor %}
      </nav>
    </header>

    <!-- Main -->
    <main role="main">

      <!-- Main: Title -->
      <div class="main_header">
	{% block main_header %}{% endblock %}
      </div>

      <!-- Main: Content -->
      <div class="main_content">
	{% block main_content %}{% endblock %}
      </div>

      <!-- Main: Back to top -->
      <p style="text-align: right"><a href="#top">Back to top</a></p>
    </main>

    <!-- Footer -->
    <footer>
      <nav>
	{% for href, id, caption in navigation_bar %}
	<a href="{{ href|e }}">{{ caption|e }}</a>
	{% endfor %}
      </nav>
      <p>&copy; 2017-2018 Haruhisa Iijima</p>
    </footer>
  </body>
</html>
