{% block head %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <!-- Haruhisa Iijima &ndash; Home -->
    Haruhisa Iijima &ndash;
    {% block title %}{% endblock %}
  </title>

  <link rel="stylesheet" href="css/pure-release-1.0.0/pure-min.css">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
      <![endif]-->
  <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="css/layouts/side-menu.css">
      <!--<![endif]-->
</head>
{% end block %}
